.navbar {
  /* background-color: black; */
  /* box-shadow: 1px 5px 5px #b6b6b6; */
}

.menu-container {
  padding: 0;
}

a {
  color: #6159e6;
}
a:hover {
  text-decoration: none;
  color: #65617d;
}

.customTitle {
  font-family: "EB Garamond", serif;
  text-decoration: none;
  font-size: 2rem;
  color: #6159e6;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.hamburger {
  color: #65617d;
}

.nav-link {
  font-family: "Oswald", sans-serif;
  color: #65617d;
}
