.navbar {
  background-color: black;
  box-shadow: 1px 5px 5px #b6b6b6;
}

a {
  color: #f5e8f8;
}
a:hover {
  text-decoration: none;
  color: #f5e8f8;
}

.customTitle {
  font-family: "Abril Fatface", cursive;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.hamburger {
  color: #f5e8f8;
}

.nav-link {
  font-family: "Lora", serif;
  color: #f5e8f8;
}
