.customCard {
  border-radius: 30px;
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 5px 5px 5px #b6b6b6;
  color: white;
  background-image: linear-gradient(
    to right top,
    #8e4bbb,
    #844fc7,
    #7753d4,
    #6458e0,
    #475ded
  );
  font-family: "EB Garamond", serif;
}

.customCardImg {
  margin-bottom: 8px;
}

.customCardTitle {
  font-size: 2.5em;
}

.customCardAuthor {
  font-size: 0.9rem;
}

.customCardScenario {
  font-size: 1.2rem;
}
